[Unit]
Description=Service file for {{ item }} container 
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start {{ item }} 
ExecStop=/usr/bin/docker stop -t 2 {{ item }} 

[Install]
WantedBy=local.target
